<ion-header>
  <ion-toolbar>
    <ion-buttons slot = "start">
    </ion-back-buttons defaultHref="/"><ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  My id from push: {{ id }}

  <ion-button (click)="resetBadgeCount()" expand="block">
    Reset Badge Count
  </ion-button>
</ion-content>

<ion-content>
  <ion-card *ngIf="contacts">
    <ion-card-header>
      <ion-card-title>{{ contact.name }}</ion-card-title>
    </ion-card-header>
    <ion-content>
      <h2>{{ contact.Ping }}</h2>
    </ion-content>
  </ion-card>
</ion-content>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="editForm" (ngSubmit)="saveForm()">
      <ion-item>
        <ion-label position="floating">New Contacts name</ion-label>
        <ion-input formControlName="person_name" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">New Phone number</ion-label>
        <ion-input formControlName="phone_num" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">New Email adress</ion-label>
        <ion-input formControlName="email" type="text" required>
        </ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">
            Update
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>