<ion-header>
  <ion-toolbar>
    <ion-buttons slot = "start">
    </ion-back-buttons defaultHref="/"><ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  My id from push: {{ id }}

  <ion-button (click)="resetBadgeCount()" expand="block">
    Reset Badge Count
  </ion-button>
</ion-content>

<ion-content>
  <ion-card *ngIf="contacts">
    <ion-card-header>
      <ion-card-title>{{ contact.name }}</ion-card-title>
    </ion-card-header>
    <ion-content>
      <h2>{{ contact.Ping }}</h2>
    </ion-content>
  </ion-card>
</ion-content>