<ion-app>
  <ion-header>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login Page</title>
  </ion-header>

  <ion-content class="ion-padding">
    <div>
      <h1>PING</h1>
      <img src="assets/Ping-Logo.png" class="brand-logo"/>
      <br>
      <p>Login</p>
      
      <form>
        <!--Email address-->
        <input type="text" name="email" id="email" placeholder="Email Address" required/>
        <br>

        <!--Password-->
        <input type="password" name="password" id="password" placeholder="Password" required/>
        

        <!--Login with Facebook and Google-->
        <p>Or</p>
        <ul id="menu">
          <li><a href="#" class="fa fa-facebook"></a></li>
          <li><a href="#" class="fa fa-google"></a></li>
        </ul>

        <!--Continue button-->
        <button type="submit" class="button" value="submit" [routerLink]="['/allow-location']">CONTINUE</button>
      </form>
      
      <p>Don't have an account? <a [routerLink]="['/register']">Sign Up</a></p>
    </div>
  </ion-content>
</ion-app>
