* {
    font-family: 'Poppins';
    background-color: #ecf0f3;
}

h1, p {
    text-align: center;
}

h1 {
    color: #7AA7AD;
    font-weight: 900;
}

input, button {
    display: block;
    width: 30%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

input[type=text], input[type=password] {
    padding: 10px;
    padding-left: 20px;
    width: 100%;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.button {
    border:0;
    outline: none;
    border-radius:0;
    padding:15px 0;
    letter-spacing:.1em;
    background-color: #7AA7AD;
    color: #ffffff;
    border-radius: 40px;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    width: 100%;
    margin: auto;
} 

button:hover {
    box-shadow: none;
}


div { //iphone 13 pro screen
    background: #ecf0f3;
    padding: 40px;
    max-width: 414px;
    max-height: 896px;
    margin: 40px auto;
    border-radius: 50px;
    box-shadow:0 4px 10px 4px #cbced1;
    height: 844px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 35%;
    text-align: center;
    text-decoration: none;
    margin: 40px auto;
    border-radius: 40px;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    margin: 12px;
    padding:15px 0;;
}



  
.fa:hover {
    box-shadow: none;
}

.brand-logo {
    height: 230px;
    width: 230px;
    display: block;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
    background-position: center center;
}

ul#menu li{
    display:inline;
}