<ion-app>
  <ion-header>
    <link rel="stylesheet" href="tab1.page.scss">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title>Login Page</title>
  </ion-header>

  <ion-content class="ion-padding">
    <h1>Ping</h1>
    <p>Login</p>
    <form>
      <!--Email address-->
      <input type="text" name="email" id="email" placeholder="Email Address" required/>
      <br><br>

     <!--Password-->
      <input type="password" name="password" id="password" placeholder="Password" required/>

      <p>Or</p>

      <!--Button-->
      <button type="submit" class="button" value="submit">CONTINUE</button>
    </form>
    <p>Don't have an account?</p> 
    <p><a href="">Sign Up</a></p>
  </ion-content>
</ion-app>
