<ion-header>
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</ion-header>

<ion-content class="ion-padding">
  <div>
    <h1>Allow Location</h1>
    <p>In order to use the app's function, we need your permission to access your location</p>
    <br>
    
    <img src="assets/allow-location.png" class="brand-logo"/>
    <br><br>

    <button type="submit" class="button" value="submit" [routerLink]="['/profile']">ALLOW</button>
    <p><a href="skip">Skip</a></p>
</div>
</ion-content>
