<ion-content>
  <div class="top">
    <h1>Ping App</h1>
    <img src="assets/images/iconapp1.png">
  </div>
 <span>Login</span>
 <form>
  <input type="email" name="eml" placeholder="Email Adress" required/>
  <br><br>
  <input type="password" name="pwd" placeholder="Password" required/>
  <span class="pwd">Forgot Password?</span>
 </form>
 <span class="or">Or</span>

 <div class="socials">
  <ion-button class="btn-fb">
    <ion-icon name="logo-facebook"></ion-icon>
  </ion-button>
  <ion-button class="btn-go">
    <ion-icon name="logo-google"></ion-icon>
  </ion-button>
 </div>

 <div class="bottom">
  <ion-button class="btn-continue" [routerLink]="['/main']">CONTINUE</ion-button>
 </div>
 <span class="last">Don't have an account?<a href="#" [routerLink]="['/register']">Sign Up</a></span>
</ion-content>

