


<ion-content>
  <header>
    <ion-icon name="close-outline" [routerLink]="['/home/trusted-lists']" ></ion-icon>
    <h1>Add Contacts</h1>
  </header>
  <div class="card">
 <!-- <img src="assets/images/person.png" /> -->


    <form>
      <input class="hidden-file-input" multiple="false" (change)="setPicture($event)" 
        #pictureInput type="file" accept="image/*">
      <img id="profilePic" src="assets/images/person.png" (click)='pictureInput.click()'/>
      <br><br>

      <input type="text" name="first" placeholder="First Name" required/>
      <br><br>
      <input type="text" name="last" placeholder="Last Name" required/>
      <br><br>
      <input type="tel" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Phone Number" required/>
    </form>

    <div class="btns">
      <ion-button class="add">
        Add
      </ion-button>
      <ion-button class="next">
        Next
      </ion-button>
     </div>
  </div>
</ion-content>
