ion-icon {
    font-size: 30px;
    color: #5b8783;
    padding-top: 61px;
    padding-left: 24px;
  }
  
  ion-content {
    --background: #f0f6f6;
    position: relative;
  
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  
      h1{
        padding-top: 30px;
        font-size: 30px;
        font-weight: bold;
        color: #5b8783;
      }
  
  
      p{
        padding-top: 31px;
        width: 60%;
        margin: 0 auto;
        font-size: 18px;
        font-weight: 600;
        color: #789697;
        text-align: center;
      }
  
  
      img{
        padding-top: 70px;
        width: 124px;
      }
  
  
      ion-button {
        width: 324px;
        height: 49px;
        --background: #94BBBC;
        --box-shadow: 0px 4px 4px #5b8783;
        --ripple-color: #F0F6F6;
        font-size: 15px;
        font-weight: 600;
        --border-radius: 30px;
        transform: translateY(50px);
      }
  
      a {
        padding-left: 3px;
        padding-top: 75px;
        text-decoration: none;
        color: #5b8783;
        font-weight: 600;
      }
    }
  }
  