<ion-app>
    <ion-header>
      <link rel="stylesheet" href="login.page.scss">
      <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <title>Login Page</title>
    </ion-header>
  
    <div>
      <ion-content class="ion-padding">
        <h1>PING</h1>
        <img src="Ping-Logo.png" class="brand-logo"/>
        <p>Login</p>
        
        <form>
            <!--Email address-->
            <input type="text" name="email" id="email" placeholder="Email Address" required/>
            <br>
  
            <!--Password-->
            <input type="password" name="password" id="password" placeholder="Password" required/>
            <br>

            <!--Login with Facebook and Google-->
            <p>Or</p>
            <ul id="menu">
              <li><a href="#" class="fa fa-facebook"></a></li>
              <li><a href="#" class="fa fa-google"></a></li>
            </ul>

            <!--Continue button-->
            <button type="submit" class="button" value="submit">CONTINUE</button>
            <br>

        </form>
        <p>Don't have an account? <a href="signup.page.html">Sign Up</a></p> 
      </ion-content>
    </div>
  </ion-app>
  