<ion-content>
  <h1>Trusted List</h1>
  <div class="card">
    <div class="list">
      <ion-card id="open-modal">
        <ion-card-content>
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="assets/images/person.png" />
          </ion-avatar>
          <ion-title>First Last</ion-title>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
<!-- HTML for testing purposes-->
<!--
  <ion-list>
    <div class="ion-text-start">
      <ion-button (click)="getContactPermissions()" >
        Get Permission
      </ion-button>
      <ion-button (click)="checkContactsPermission()">
        Sync Contacts
      </ion-button>
      <ion-button (click)="addTrustList()">
        Add Contact
      </ion-button>
      <ion-button (click)="removeTrustList()">
        Remove Contact
      </ion-button>
      <ion-button (click)="logTrustList()">
        Log Contact List 
      </ion-button>
      <ion-button (click)="checkSMSPermission()">
        Send SMS 
      </ion-button><ion-button (click)="getSMSPermission()">
        Get SMS Permission
      </ion-button>
    </div>

    <ion-item *ngFor="let contact of contacts | async" >
      <ion-icon *ngIf="!contact.photoThumbnail" color="primary" slot="start" name="person"></ion-icon>
      <ion-avatar *ngIf="contact.photoThumbnail"  slot="start">
        <ion-img [src]="contact.photoThumbnail"></ion-img>
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <ion-text color="dark">
          <h3>{{contact.displayName}}</h3>
        </ion-text>
        <ion-text color="medium" *ngFor="let number of contact.phoneNumbers">
          <p>{{number.label}}:{{number.number}}</p>
        </ion-text>
        <ion-text color="medium" *ngFor="let mails of contact.emails">
          <p>{{mails.label}}: {{mails.address}}</p>
        </ion-text>
      </ion-label>
    </ion-item>
</ion-list>
-->

  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button color="dark" (click)="modal.dismiss()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

      <ion-content>
        <div class="photo">
          <img src="assets/images/person.png" alt="">
        </div>
        <form>
         <input type="text" name="first" placeholder="First Name" required/>
         <br><br>
         <input type="text" name="last" placeholder="Last Name" required/>
         <br><br>
         <input type="tel" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Phone Number" required/>
         <div class="btns">
          <ion-button class="save">
            Save
          </ion-button>
          </div>
        </form>
      </ion-content>
    </ng-template>
 </ion-modal>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/add-contacts']">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
