ion-button[shape=circle] {
  --border-radius: 50%;
  width: 56px;
  height: 56px;
}
ion-content {
  --background: white;


  .card {
    height: 80%;
    width: 100%;
    background: #f0f6f6;
    position: fixed;
    bottom: 0;
    border-radius: 30px 30px 0 0;
    //transform: translateY(130px);
  }

  //header
  h1 {
    position: fixed;
    font-size: 30;
    font-weight: bold;
    color: #5B8783;
    padding-left: 33px;
    transform: translateY(65px);
  }


//add contacts button
  ion-fab {
    padding-right: 15px;
    padding-bottom: 27px;

    ion-fab-button {
      --background: #fff;
      --box-shadow: 0px 4px 4px #94bbbc;
     //--background-activated: #efefef;
      width: 52px;
      height: 52px;


      ion-icon{
        color: #aeaeae;
        font-size: 23px;
      }
    }
  }

 //.list {
  //display: flex;
  //justify-content: center;
  //flex-direction: column;



// }


}

//modal-------------------------------------
ion-modal {
  -webkit-appearance: none;
  --height: 57%;
  --width: 93%;
  --border-radius: 30px;
  --box-shadow: 0 4px 4px #94bbbc;
  margin-top: -48px;
}

ion-modal::part(backdrop) {

  background: rgba(209, 213, 219);
  opacity: 1;
}


  ion-icon{
    font-size: 30px;
    color: #5B8783;

}

  .photo {
   display: flex;
   justify-content: center;

   img{
    width: 110px;
    border-radius: 50%;
    top: 200px;

   }
  }

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;

  input {
    -webkit-appearance: none;
    background-color: #fbfbfb;
    border:none;
    outline:none;
    width: 300px;
    height: 49px;
    color: #7AA7AD;
    border-radius: 30px;
    padding-left: 14px;
    padding-right: 14px;
    font-weight: 600;
    font-size: 15px;
    box-shadow: inset -1px 4px 4px #94BBBC, 0 -1px 1px #FFF, 0 1px 0 #FFF;
  }

  ::placeholder {
    color:#7AA7AD;
  }
}

.close {
  padding-left: 25px;
  padding-top: 25px;
}


.btm{
  padding-top: 20px;

  span{
    color: #5B8783;
    font-size: 15px;
    font-weight: normal;
    padding-left: 20px;
    padding-right: 20px;
  }
}

//modal ends-----------------------------

//list------------------------------------
/*
ul{
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;

  ion-card {
    display: flex;
    border-radius: 30px;
    box-shadow: 0px 4px 4px #94bbbc;
    height: 93px;
    width: 356px;


    ion-item{
      margin: auto;
      //align-items: center;

      ion-avatar{
        width: 66px;
        height: 66px;
      }

      ion-label{
        font-size: 18px;
        font-weight: 550;
        color: #5B8783;

      }
    }
  }

}
*/

/*
.wrapper {
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;

   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;


    ion-card {
      display: flex;
      border-radius: 30px;
      box-shadow: 0px 4px 4px #94bbbc;
      height: 93px;
      width: 356px;


      ion-item{
        margin: auto;
        transform: translateX(-70px);
        --background: transparent;

        ion-avatar{
          width: 66px;
          height: 66px;
        }

        ion-label{
          font-size: 18px;
          font-weight: 550;
          color: #5B8783;

        }
      }
    }
  }
}


*/


ion-list {
  background: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  padding-top: 25px;

}


app-contact-card{
  display: block;
  width: 100%;
  //border: 1px solid green;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

ion-item-sliding {
  //margin-bottom: 5px;
  overflow: hidden;


  ion-item{
    //height: 93px;
    --padding-start: 0;
    --inner-padding-end: 0;
    border-radius: 30px;
    --background: none;
    //border: 1px solid red;


  }

  ion-item-options{
    //border: 2px solid #774e4e;
   // border-radius: 30px;
    //overflow: hidden;
    height: 93px;
    //background: transparent;


    ion-item-option{
      background: transparent;
      transform: translateX(-10px)
    }
  }
}

