ion-icon {
    font-size: 30px;
    color: #5b8783;
    padding-top: 61px;
    padding-left: 24px;
  }
  
  ion-content {
    --background: white;
    position: relative;
  
  
    .card {
      height: 70%;
      width: 100%;
      background: #f0f6f6;
      position: absolute;
      bottom: 0;
      border-radius: 30px 30px 0 0;
  
    }
  
  
  
    h1 {
      font-size: 30;
      font-weight: bold;
      color: #5B8783;
      padding-left: 33px;
      transform: translateY(20px);
    }
  
  
  
    img {
      height: 170px;
      width: 170px;
      border-radius: 50%;
      box-shadow: 0px 4px 4px #b9b9b9;
      //border: 0.5rem solid #f0f6f6;
      margin-top: -110px;
      transform: translateY(-2px);
  
    }
  
  
   form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;

    input {
      background-color: #fbfbfb;
      border: none;
      outline: none;
      width: 324px;
      height: 49px;
      color: #7AA7AD;
      border-radius: 30px;
      padding-left: 14px;
      padding-right: 14px;
      font-weight: 600;
      font-size: 15px;
      box-shadow: inset -1px 4px 4px #94BBBC, 0 -1px 1px #FFF, 0 1px 0 #FFF;
    }

    ::placeholder {
      color: #7AA7AD;
    }
  }
}

.btns {
  display: flex;
  justify-content: center;
  padding-top: 47px;

  .add {
    height: 47px;
    width: 130px;
    --border-radius: 30px;
    transform: translateX(-15px);
    --background: #94BBBC;
    --box-shadow: 0px 4px 4px #5B8783;
  }

  .next {
    height: 47px;
    width: 130px;
    --border-radius: 30px;
    transform: translateX(15px);
    --background: #fbfbfb;
    --box-shadow: 0px 4px 4px #b9b9b9;
    color: #5B8783;
  }
}

.last {
  transform: translateY(20px);
  font-weight: normal;
  display: flex;
  justify-content: center;

  a {
    padding-left: 3px;
    text-decoration: none;
    color: #5b8783;
    font-weight: 600;
  }
}