ion-content{
    --background: #f0f6f6;
  
    ion-tab-bar {
      height: 90px;
      position: relative;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
  
      ion-tab-button {
        font-size: 1.7rem;
        --color-selected: #5b8783;
  
      }
    }
  
  }