ion-content{
  --background: #f0f6f6;

  ion-tab-bar {
    height: 60px;
    position: relative;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    //background-color: #fff;
    --background: #fff;
    --color: #aeaeae;
    --border: none;


    ion-tab-button {
      font-size: 1.7rem;
      --color-selected: #5b8783;

    }
  }

}
