ion-content{
    --background: #f0f6f6;
  
    ion-tab-bar {
      height: 90px;
      position: relative;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
  
      ion-tab-button {
        font-size: 1.7rem;
        --color-selected: #5b8783;
  
      }
    }
    #map {
      width: 100%;
      height: 300%px;
    }
  }
  /*#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

  #map {
    width: 100%;
    height: 80%px;
  }*/