ion-content{
  --background: #f0f6f6;

  ion-tab-bar {
    height: 60px;
    position: relative;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    --background: #fff;
    --color: #aeaeae;
    --border: none;


    ion-tab-button:active {
      font-size: 1.7rem;
      color: #5b8783;
    }
    #map {
      width: 100%;
      height: 80%px;
    }
  }
 
  }